body {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  color: #000;
  font-size: 16px;
  line-height: 19px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 24px;
  line-height: 28px;
  font-weight: normal;
}

h2 {
  font-size: 20px;
  line-height: 23px;
  font-weight: normal;
}

h3 {
  font-size: 18px;
  line-height: 21px;
  font-weight: normal;
}

.preheader {
  background: rgba(196, 196, 196, 0.38);
  height: 29px;
}

.head-flex-container {
  display: flex;
  justify-content: space-around;
  padding-top: 27px;
  padding-bottom: 15px;
}

.logo {
  width: 80px;
  height: 80px;
  background-color: #c4c4c4;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title-main {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
}

.title-note {
  font-size: 18px;
  line-height: 21px;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  line-height: 14px;
  text-align: right;
}

.icons-container {
  background-color: #c4c4c4;
  height: 29px;
  width: 211px;
  text-align: right;
  color: #655F5F;
}

ul {
  display: flex;
  justify-content: space-around;
  background: #C4C4C4;
}

li {
  list-style-type: none;
  padding: 5px;
}

a {
  text-decoration: none;
  color: inherit;
}

.top-banner {
  background-color: rgba(196, 196, 196, 0.38);
  width: 100%;
  height: 250px;
}

.top-banner p {
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  padding-top: 90px;
}

.headers {
  margin-left: 21px;
  margin-top: 22px;
  margin-bottom: 19px;
}

.photo-container {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 29px;
}

.photo {
  background-color: rgba(196, 196, 196, 0.38);
  width: 40%;
  min-height: 206px;
  font-size: 12px;
  font-weight: 14px;
  color: #655F5F;
  float:left;
  padding: 5px;
  box-sizing: border-box;
}

.photo-right {
  background-color: rgba(196, 196, 196, 0.38);
  width: 35%;
  min-height: 206px;
  font-size: 12px;
  font-weight: 14px;
  color: #655F5F;
  float:right;
  padding: 5px;
  box-sizing: border-box;
}

.photo-description {
  width: 55%;
  min-height: 78px;
  float: right;
  box-sizing: border-box;
  margin-left: 22px;
}

.photo-description-left {
  width: 60%;
  min-height: 78px;
  float: left;
  padding-left: 22px;
  box-sizing: border-box;
  text-align: right;
}

.clearfix {
  clear: both;
}

.button {
  background-color: #110101;
  color: #FFF7F7;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  padding: 5.5px 60px;
  box-sizing: border-box;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.content-block {
  background-color: rgba(196, 196, 196, 0.38);
  margin: 5px;
  color: #655F5F;
  font-size: 12px;
  line-height: 14px;
  padding: 5px;
}

.content-block:nth-of-type(1), .content-block:nth-of-type(2) {
  width: 276px;
  height: 202px;
}

.content-block:nth-of-type(3),
.content-block:nth-of-type(4),
.content-block:nth-of-type(5) {
  width: 179px;
  height: 202px;
}

.content-block:nth-of-type(6) {
  width: 568px;
  height: 250px;
  align-self: center;
}

.content-block:nth-of-type(7),
.content-block:nth-of-type(8),
.content-block:nth-of-type(9),
.content-block:nth-of-type(10) {
  width: 128px;
  height: 138px;
}

footer .icons-container {
  margin: 29px auto 17px;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
}

footer p {
  text-align: center;
  font-size: 12px;
  line-height: 14px;
}
